.head{
    display: flex;
    justify-content: space-around;
    border-bottom:0.1px solid lightgray;
    padding-top:8px;
    padding-bottom:4px;
    top: 0;
    width: 100%;
    position:sticky;
    z-index: 999;
    background-color:white !important;
}
.headerleft{
    display: flex;
}
.headerright{
    display:flex;
}
.headerleft >img{
    height: 40px;
    align-items: center;
    margin-right: 8px;
}
.headerleft>.searchinput {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    color: gray;
    background-color: #eef3f8;
    height: 20px;
}
.headerleft>.searchinput>input{
    border:none;
    background: none;
    outline:none;
}